<div id="foot_wrapper">
  <div id="foot_items">

    <div id="foot_left_cont">
      <p class="foot_title">Art</p>
      <div class="foot_row_list_cont">
        <div class="foot_left_left">
          <li class="foot_list_item">Graphic Novels</li>
          <li class="foot_list_item">Paintings</li>
          <li class="foot_list_item">Portraits</li>
          <li class="foot_list_item">Geo's Vixens</li>
        </div>
        <div class="foot_left_right">
          <li class="foot_list_item">Pin-Ups</li>
          <li class="foot_list_item">Tattoos</li>
          <li class="foot_list_item">Splash Art</li>
          <li class="foot_list_item">Tubbins & Whily</li>
        </div>
      </div>
    </div>

    <div id="foot_center_cont">
      <p class="foot_title">Media</p>
      <div class="foot_img_list_cont">
        <%= image_tag("youtube_pirates_office_logo.jpg", :alt => "Pirates_Office_logo", :class => "media_image") %>
        <%= image_tag("podcast_geo_after_dark_logo.png", :alt => "Geo_After_Dark_logo", :class => "media_image") %>
      </div>
    </div>

    <div id="foot_right_cont">
      <p class="foot_title">Contact & Comissions</p>
      <div class="foot_col_list_cont">
        <li class="foot_list_item">Comissions</li>
        <li class="foot_list_item">Contact Me</li>
      </div>
    </div>

  </div>
</div>
