<div id="foot_wrapper">

  <div class="foot_full_width_section">
    <p class="foot_title">Geo's Art</p>
    <p class="foot_title">Geo's Media</p>
    <p class="foot_title">Support My Art</p>
  </div>
  <div class="foot_full_width_section">
    <div class="foot_section">
      <div class="foot_list_cont">
        <li class="foot_art_list_item">Graphic Novels</li>
        <li class="foot_art_list_item">Paintings</li>
        <li class="foot_art_list_item">Portraits</li>
        <li class="foot_art_list_item">Geo's Vixens</li>
        <li class="foot_art_list_item">Pin-Ups</li>
        <li class="foot_art_list_item">Tattoos</li>
        <li class="foot_art_list_item">Splash Art</li>
        <li class="foot_art_list_item">Tubbins & Whily</li>
      </div>
    </div>
    <div class="foot_section">
      <div class="foot_img_list_cont">
        <%= image_tag("youtube_pirates_office_logo.jpg", :alt => "Pirates_Office_logo", :class => "media_image") %>
        <%= image_tag("podcast_geo_after_dark_logo.png", :alt => "Geo_After_Dark_logo", :class => "media_image") %>
      </div>
    </div>
    <div class="foot_section">
      <div class="foot_product_list_cont">
        <li class="foot_product_list_item">Paetron</li>
        <li class="foot_product_list_item">Ebay</li>
        <li class="foot_product_list_item">Amazon</li>
        <li class="foot_product_list_item">Direct</li>
      </div>
    </div>
  </div>

  <div class="foot_full_width_section">
    <p class="foot_title">Contact Me</p>
    <p class="foot_title">Comissions</p>
  </div>
  <div class="foot_full_width_section">
    <div class="foot_section">
      <div class="foot_contact_list_cont">
        <li class="foot_contact_list_item">Contact Me</li>
      </div>
    </div>
    <div class="foot_section">
      <div class="foot_contact_list_cont">
        <li class="foot_contact_list_item">Comissions</li>
      </div>
    </div>
  </div>

</div>
