/* Footer Begin */
#foot_wrapper{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  color: white;
  width: 100%;
  background: rgba(65, 65, 63, 1);
  // Most Smartphones Mobiles (Portrait)
    @media (min-width: 320px) and (max-width: 480px) {
      border: red 1px solid;
      height: 400px; // Height of footer bar
    }
  // Low Resolution Tablets, Mobiles (Landscape)
    @media (min-width: 481px) and (max-width: 767px) {
      border: blue 1px solid;
      height: 200px; // Height of footer bar
    }
  // Tablets, Ipads (portrait)
    @media (min-width: 768px) and (max-width: 1024px) {
      border: yellow 1px solid;
      height: 200px; // Height of footer bar
    }
  // Laptops, Desktops
    @media (min-width: 1025px) and (max-width: 1280px) {
      border: green 1px solid;
      height: 225px; // Height of footer bar
    }
  // Desktops
    @media (min-width: 1281px) {
      border: purple 1px solid;
      height: 250px; // Height of footer bar
    }
}
.foot_full_width_section{
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.foot_section{
  flex: 1 0 calc(100% * (1/3) - 90px);
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  // Most Smartphones Mobiles (Portrait)
    @media (min-width: 320px) and (max-width: 480px) {
      height: 95%;
      margin: 5px;
    }
  // Low Resolution Tablets, Mobiles (Landscape)
    @media (min-width: 481px) and (max-width: 767px) {
      height: 90%;
      margin: 10px;
    }
  // Tablets, Ipads (portrait)
    @media (min-width: 768px) and (max-width: 1024px) {
      height: 90%;
      margin: 10px;
    }
  // Laptops, Desktops
    @media (min-width: 1025px) and (max-width: 1280px) {
      height: 80%;
      margin: 20px;
    }
  // Desktops
    @media (min-width: 1281px) {
      height: 70%;
      margin: 25px;
    }
}
  .foot_title{
    width: 80%;
    color: rgba(255, 255, 255, 0.5);
    border-bottom: rgba(255, 255, 255, 0.5) 1px solid;
    // Most Smartphones Mobiles (Portrait)
      @media (min-width: 320px) and (max-width: 480px) {
        font-size: 1em;
        margin-left: 10px;
        margin-right: 10px;
      }
    // Low Resolution Tablets, Mobiles (Landscape)
      @media (min-width: 481px) and (max-width: 767px) {
        font-size: 1em;
      }
    // Tablets, Ipads (portrait)
      @media (min-width: 768px) and (max-width: 1024px) {
        font-size: 1em;
      }
    // Laptops, Desktops
      @media (min-width: 1025px) and (max-width: 1280px) {
        font-size: 1.5em;
      }
    // Desktops
      @media (min-width: 1281px) {
        font-size: 2em;
      }
  }
  // ==================================
  // Art Section
  .foot_list_cont{
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 80%;
    // Most Smartphones Mobiles (Portrait)
      @media (min-width: 320px) and (max-width: 480px) {
        flex-flow: column nowrap;
      }
    // Low Resolution Tablets, Mobiles (Landscape)
      @media (min-width: 481px) and (max-width: 767px) {
        flex-flow: row wrap;
      }
    // Tablets, Ipads (portrait)
      @media (min-width: 768px) and (max-width: 1024px) {
        flex-flow: row wrap;
      }
    // Laptops, Desktops
      @media (min-width: 1025px) and (max-width: 1280px) {
        flex-flow: row wrap;
      }
    // Desktops
      @media (min-width: 1281px) {
        flex-flow: row wrap;
      }
  }
  .foot_art_list_item{
    color: rgba(255, 255, 255, 0.5);
    border: rgba(187, 187, 187, 0.5) 1px solid;
    box-shadow: 5px 5px 3px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0);
    transition: all 0.4s ease-in-out;
    // Most Smartphones Mobiles (Portrait)
      @media (min-width: 320px) and (max-width: 480px) {
        // flex: 1 0 calc(100% * (1/3) - 10px);
        font-size: 0.8em;
        width: 95%;
        height: 15px;
        padding: 4px;
        margin: 3px;
      }
    // Low Resolution Tablets, Mobiles (Landscape)
      @media (min-width: 481px) and (max-width: 767px) {
      }
    // Tablets, Ipads (portrait)
      @media (min-width: 768px) and (max-width: 1024px) {
      }
    // Laptops, Desktops
      @media (min-width: 1025px) and (max-width: 1280px) {
      }
    // Desktops
      @media (min-width: 1281px) {
      }
  }
  .foot_art_list_item:hover{
    cursor: pointer;
    color: rgba(255, 255, 255, 1);
    border: rgba(255, 255, 255, 1) 1px solid;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 1);
    box-shadow: 5px 5px 3px rgba(0, 0, 0, 0.0);
  }
  // ==================================
  // Media Section
  .foot_img_list_cont{
    list-style: none;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    // Most Smartphones Mobiles (Portrait)
      @media (min-width: 320px) and (max-width: 480px) {
      }
    // Low Resolution Tablets, Mobiles (Landscape)
      @media (min-width: 481px) and (max-width: 767px) {
      }
    // Tablets, Ipads (portrait)
      @media (min-width: 768px) and (max-width: 1024px) {
      }
    // Laptops, Desktops
      @media (min-width: 1025px) and (max-width: 1280px) {
      }
    // Desktops
      @media (min-width: 1281px) {
      }
  }
    .media_image{
      border: black 3px solid;
      border-radius: 5px;
      box-shadow: 3px 3px 2px rgba(0, 0, 0, 0.5);
      // Most Smartphones Mobiles (Portrait)
        @media (min-width: 320px) and (max-width: 480px) {
          margin: 5px;
          height: 90px;
          width: 80%;
        }
      // Low Resolution Tablets, Mobiles (Landscape)
        @media (min-width: 481px) and (max-width: 767px) {
        }
      // Tablets, Ipads (portrait)
        @media (min-width: 768px) and (max-width: 1024px) {
        }
      // Laptops, Desktops
        @media (min-width: 1025px) and (max-width: 1280px) {
        }
      // Desktops
        @media (min-width: 1281px) {
          margin: 5px;
          height: 75px;
          width: 40%;
        }
    }
    .media_image:hover{
      cursor: pointer;
      animation: shine2 1.5s ease-in-out;
    }

    @keyframes shine2 {
      0% {
        filter:contrast(100%);
      }
      20% {
        filter:contrast(300%);
      }
      100% {
        filter:contrast(100%);
      }
    }
  // ==================================
  // Product Section
  .foot_product_list_cont{
    flex: 1 0 calc(100% * (1/3) - 90px);
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 80%;
    // Most Smartphones Mobiles (Portrait)
      @media (min-width: 320px) and (max-width: 480px) {
      }
    // Low Resolution Tablets, Mobiles (Landscape)
      @media (min-width: 481px) and (max-width: 767px) {
      }
    // Tablets, Ipads (portrait)
      @media (min-width: 768px) and (max-width: 1024px) {
      }
    // Laptops, Desktops
      @media (min-width: 1025px) and (max-width: 1280px) {
      }
    // Desktops
      @media (min-width: 1281px) {
      }
  }
  .foot_product_list_item{
    color: rgba(255, 255, 255, 0.5);
    border: rgba(187, 187, 187, 0.5) 1px solid;
    box-shadow: 5px 5px 3px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0);
    transition: all 0.4s ease-in-out;
    // Most Smartphones Mobiles (Portrait)
      @media (min-width: 320px) and (max-width: 480px) {
        // flex: 1 0 calc(100% * (1/3) - 10px);
        font-size: 0.8em;
        width: 95%;
        height: 15px;
        padding: 4px;
        margin: 3px;
      }
    // Low Resolution Tablets, Mobiles (Landscape)
      @media (min-width: 481px) and (max-width: 767px) {
      }
    // Tablets, Ipads (portrait)
      @media (min-width: 768px) and (max-width: 1024px) {
      }
    // Laptops, Desktops
      @media (min-width: 1025px) and (max-width: 1280px) {
      }
    // Desktops
      @media (min-width: 1281px) {
      }
  }
  .foot_product_list_item:hover{
    cursor: pointer;
    color: rgba(255, 255, 255, 1);
    border: rgba(255, 255, 255, 1) 1px solid;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 1);
    box-shadow: 5px 5px 3px rgba(0, 0, 0, 0.0);
  }
  // ==================================
  // Contact & Comission Section
  .foot_contact_list_cont{
    flex: 1 0 calc(100% * (1/3) - 90px);
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 80%;
    // Most Smartphones Mobiles (Portrait)
      @media (min-width: 320px) and (max-width: 480px) {
      }
    // Low Resolution Tablets, Mobiles (Landscape)
      @media (min-width: 481px) and (max-width: 767px) {
      }
    // Tablets, Ipads (portrait)
      @media (min-width: 768px) and (max-width: 1024px) {
      }
    // Laptops, Desktops
      @media (min-width: 1025px) and (max-width: 1280px) {
      }
    // Desktops
      @media (min-width: 1281px) {
      }
  }
  .foot_contact_list_item{
    color: rgba(255, 255, 255, 0.5);
    border: rgba(187, 187, 187, 0.5) 1px solid;
    box-shadow: 5px 5px 3px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0);
    transition: all 0.4s ease-in-out;
    // Most Smartphones Mobiles (Portrait)
      @media (min-width: 320px) and (max-width: 480px) {
        // flex: 1 0 calc(100% * (1/3) - 10px);
        font-size: 1em;
        width: 120px;
        height: 15px;
        padding: 6px;
        margin: 4px;
      }
    // Low Resolution Tablets, Mobiles (Landscape)
      @media (min-width: 481px) and (max-width: 767px) {
      }
    // Tablets, Ipads (portrait)
      @media (min-width: 768px) and (max-width: 1024px) {
      }
    // Laptops, Desktops
      @media (min-width: 1025px) and (max-width: 1280px) {
      }
    // Desktops
      @media (min-width: 1281px) {
      }
  }
  .foot_contact_list_item:hover{
    cursor: pointer;
    color: rgba(255, 255, 255, 1);
    border: rgba(255, 255, 255, 1) 1px solid;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 1);
    box-shadow: 5px 5px 3px rgba(0, 0, 0, 0.0);
  }

/* Footer End */
